body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;
    color: black;
    margin: 0;
    padding: 0;
}
header,footer {
    background-color: rgb(101, 155, 214);
    color: white;
    text-align: center;
    padding: 10px 0;
   }

.category h2{
    background-color: rgb(101, 155, 214);
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
 }
.recipe {
    background-color: whitesmoke;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
 }
 
 footer {
    background-color:  rgb(101, 155, 214);
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}



