*{
    
    padding: 0%;
    margin:0% ;
}
 
.cor_de_fundo{

   background-color: rgb(201, 186, 164);

}

header{
    width: 100%;
    padding: 20px 0px;
    background-color: beige;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

header h2{
      float:left;
      margin-left: 20px ;
  
 }





.produto img{
  width: 55%;
  background-size: 55%;
}

