@font-face {
    font-family: hey_comic ;
    src: url(fonts/hey_comic/Hey\ Comic.otf)
}


/* Reset básico */
* {
    margin: 0;
    padding: 0;
  
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    background-color: #c3c0c0;
    color: #171717;
}


header {
    background-color: #c49a6c;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f5eaea;
    font-weight: bold;
}


h1 {
    margin: 60px 10;
    font-size: 1.8em;
    background-color:rgba(238, 221, 221, 0.899);
    
}


.image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


main {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1em;
}


footer {
    background-color: #c49a6c;
    color: #fff;
    padding: 30px 0;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
