/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cores */
:root {
    --branco: #e0b2e4;
    --cinza: #8a8383;
    --azul: #007bff;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
}

/* Header e footer */
header, footer {
    width: 100%;
    background-color: var(--branco);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 30px;
}

#logo h2 {
    font-size: 24px;
    color: var(--cinza);
}

/* Banner */
.banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Catálogo de filmes */
#catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.Filme {
    width: 300px;
    background-color: var(--cinza);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}





