* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corPrimaria: white;
    --corSecundaria: rgb(138, 131, 131);
    --branco: rgb(115, 115, 115);
}

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #43494f; 
    padding: 20px;
}

.h1 {
    font-size: 3em; 
    color: #d4cdcd; 
    margin: 0;
    text-align: center; 
    flex: 1; 
}

nav {
    margin-right: 20px; 
}

nav a {
    color: #7484dd; 
    text-decoration: none; 
    font-size: 18px; 
    margin: 0 10px; 
}

nav a:hover {
    color: #ffffff; 
}

header h2 {
    margin-left: 20px;
    font-size: 24px;
    color: var(--corSecundaria);
}

#catalogo {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--branco);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 10px;
    justify-content: center;
}

.filme {
    width: 200px;
    padding: 10px;
    background-color: var(--corSecundaria);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    text-align: center;
}

.filme img {
    width: 100%;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #43494f;
    color: white;
    padding: 20px;
    text-align: center;
}
footer a {
    color:  #7484dd;; 
    font-weight: bold; 
}

footer a:hover {
    color: #d4cdcd; 
}