body {
  background-color: white;
  color: #fff;
}

header {
  background-color: #1a1a1a;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6); /* Iluminação suave */
}

footer {
  background-color: #1a1a1a;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Iluminação suave */
}

h2 {
  color: #fff;
  /* Remover a iluminação de "Estilos Musicais" */
  text-shadow: none;  /* Retirando o brilho ou iluminação */
}

.btn-group button.active {
  background-color: #4e4e6d;
  border-color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Brilho nas bordas */
}

.card {
  background-color: #333;
  color: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Iluminação suave na borda da carta */
}

.card-title, .card-text {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Brilho suave no texto */
}

.card button {
  background-color: #1a73e8;
  box-shadow: 0 0 10px rgba(26, 115, 232, 0.8); /* Brilho suave no botão */
}

/* Remover iluminação nos botões de Estilos Musicais */
.btn-group button {
  background-color: #444; /* Cor padrão dos botões */
  color: white;
  box-shadow: none; /* Remover brilho nas bordas */
}

/* Hover Effect */
.btn:hover {
  background-color: #444;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Iluminação ao passar o mouse */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Brilho nas bordas */
}
