/* Estilos Gerais */
body {
  background-color: white; /* Fundo branco */
  color: #333; /* Cor do texto escuro para contraste */
  font-family: Arial, sans-serif;
}

header {
  background-color: #1a1a1a; /* Cabeçalho escuro */
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6); /* Iluminação suave */
}
Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 20px;
  text-align: center;
}


h2 {
  color: #333; /* Título em cor escura */
  text-shadow: none; /* Retirando o brilho ou iluminação */
}

/* Estilo dos Botões Ativos */
.btn-group button.active {
  background-color: #4e4e6d;
  border-color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Brilho nas bordas */
}

.card {
  background-color: #333; /* Cartões com fundo escuro */
  color: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Iluminação suave na borda da carta */
}

.card-title, .card-text {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Brilho suave no texto */
}

.card button {
  background-color: #1a73e8;
  box-shadow: 0 0 10px rgba(26, 115, 232, 0.8); /* Brilho suave no botão */
}

/* Estilo dos Botões Padrão */
.btn-group button {
  background-color: #444; /* Cor padrão dos botões */
  color: white;
  box-shadow: none; /* Remover brilho nas bordas */
}

/* Hover Effect - Quando o mouse passa sobre os botões */
.btn:hover {
  background-color: #444;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Iluminação ao passar o mouse */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Brilho nas bordas */
}

/* Estilos do Ranking */
#topMusicasList {
  margin-top: 20px;
}

.list-group-item {
  background-color: #f8f9fa; /* Cor de fundo clara para as músicas/artistas */
  color: black; /* Texto preto para contraste */
  font-size: 1.1rem;
  text-shadow: none; /* Retirando brilho */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list-group-item:hover {
  background-color: #e2e6ea; /* Cor de fundo mais escura ao passar o mouse */
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

/* Estilo dos Botões de Filtro */
.btn-group button {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Estilo do botão ativo */
.btn-group button.active {
  background-color: #1a73e8; /* Cor azul do botão ativo */
}




